langchain
langgraph
langchain-groq
huggingface-hub
requests
psycopg2-binary
sqlalchemy
pgvector
redis
pypdf
pdfplumber
ragas
fastapi
uvicorn
pytest
ollama
langchain-ollama
qdrant-client
langchain-text-splitters
openai-whisper
sentence-transformers
flashrank
rank-bm25
ragas
datasets
passlib[bcrypt]
python-jose[cryptography]
pydantic-settings
bcrypt
httpx
prometheus-fastapi-instrumentator
prometheus-client


